// Ticker styles
$marquee-speed: 40s;

.ticker-wrap {
    //position: fixed;
    //top: 0;
    //left: 0;
    width: 100%;
    //z-index: 1001;
    /* above navbar */
    background: var(--ticker-bg);
    /* or your preferred color */
    color: #fff;
    overflow: hidden;
    //height: 36px;
    display: flex;
    padding: 0 4rem;
    //align-items: center;
    //white-space: nowrap;
    // mask-image: linear-gradient(to right,
    //         transparent,
    //         black 5rem,
    //         black calc(100% - 5rem),
    //         transparent);

}

.ticker-track {
    display: flex;
    white-space: nowrap;
    animation: ticker-scroll $marquee-speed linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}

.ticker-item {
    display: inline-flex;
    align-items: center;
    //gap: 2rem;
    //padding: 0 20px;
    font-size: calc((var(--ticker-font-size-value) - 1) * 1.2vw + 1rem) !important;
    //font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}