<div class="container-fluid  bg-dark text-light g-5">
    <div class="row py-5">
        <div class="col-md-3 me-auto">
            <div class="vstack gap-3">
                <div class="p-2">
                    <span class="custom-title">
                        Ready to bring your
                        <span class="custom-title-italic">ideas to life?</span>
                    </span>
                </div>
                <div class="p-2">
                    <a class="d-inline-flex align-items-center btn btn-outline-secondary btn-lg pe-2 rounded-pill" [attr.href]="linkedIn" target="_blank">
                        <span>Get in touch</span>
                        <svg class="bi ms-2" width="32" height="32" aria-hidden="true">
                            <use href="assets/image/techstack.svg#linkedin-c"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="vstack gap-2">
                <div class="display-6">
                    <h3>Quick Links</h3>
                </div>
                <div><a class="nav-link" href="#">Our Legacy</a></div>
                <div><a class="nav-link" href="#">Projects</a></div>
                <div><a class="nav-link" href="#">Contact</a></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="vstack gap-2">
                <h3>Connect</h3>
                <div><a class="nav-link" [attr.href]="linkedIn" target="_blank">Email</a></div>
                <div><a class="nav-link" [attr.href]="linkedIn" target="_blank">Phone</a></div>
            </div>
        </div>
    </div>
    <!-- Bottom bar -->
    <div class="footer-bottom py-2 border-top border-secondary">
        <div class=" d-flex flex-wrap justify-content-between ">
            <span>Site Design &amp; Development by <a class="nav-link icon-link" href="#">JXO</a>.</span>
            <span>Copyright &copy; 2026 JXO</span>
        </div>
    </div>
</div>