/* 1. Hide the X by default when the menu is closed */
.navbar-toggler.collapsed .custom-close {
  display: none;
}

/* 2. Hide the Hamburger icon when the menu is open */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: none;
}

/* 3. Ensure the X shows up only when the menu is open */
.navbar-toggler:not(.collapsed) .custom-close {
  display: inline-block;
}

/* 4. Optional: Remove the default border/outline for a cleaner look */
.navbar-toggler:focus {
  box-shadow: none;
}


.dropdown.has-megamenu {
  position: static;

  /* Allows the megamenu to be full width */
  .megamenu {
    padding: 0px;
    border: none;
  }
}

.brand-logo {
  width: 90px;
  height: 25px;
}

.glass-navbar {
  /* Semi-transparent white or background color for the glass tint */
  background-color: rgba(250, 250, 252, .8) !important;

  /* The crucial property for the frosted blur effect */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* Optional: soften the borders and add a faint highlight */
  //border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}