/* 1. Hide the X by default when the menu is closed */
.navbar-toggler.collapsed .custom-close {
  display: none;
}

/* 2. Hide the Hamburger icon when the menu is open */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: none;
}

/* 3. Ensure the X shows up only when the menu is open */
.navbar-toggler:not(.collapsed) .custom-close {
  display: inline-block;
}

/* 4. Optional: Remove the default border/outline for a cleaner look */
.navbar-toggler:focus {
  box-shadow: none;
}


.dropdown.has-megamenu {
  position: static;

  /* Allows the megamenu to be full width */
  .megamenu {
    padding: 0px;
    border: none;
  }
}