<div class="container-fluid ">
    <div [hidden]="true" class="row">
        <div class="col-12 pb-5">
            <div class="mosaic-zone">
                <div id="mosaic" class="mosaic mosaic-provider-hydrated">
                    <div class="mosaic-fpgimy">
                        <div class="mosaic-tku8uw">
                            <h2 class="fs-5 fw-bold text-uppercase">Full Stack Development</h2>
                            <span class="fw-light">Integrating heterogeneous enterprise systems, using diverse platforms, frameworks, design approaches, architectural styles, programming languages and cloud computing technology. Expert in mission-oriented technology solutions & dedicated to delivering technology solution.</span>
                        </div>
                        <div class="mosaic-pbntzk">
                            <div class="mosaic-8m7wzm">
                                <svg width="100%" height="200" viewBox="0 0 400 200" preserveAspectRatio="none" class="mosaic-1mg679b">
                                    <defs>
                                        <filter id="careerScoutCurveShadow" x="-10%" y="-20%" width="120%" height="140%" filterUnits="objectBoundingBox">
                                            <feDropShadow dx="4" dy="6" stdDeviation="25" flood-color="rgba(0, 0, 0, 0.4)"></feDropShadow>
                                            <feDropShadow dx="-1.5" dy="1" stdDeviation="1" flood-color="rgba(255, 255, 255, 0.3)"></feDropShadow>
                                        </filter>
                                    </defs>
                                    <path d="M-117.762 335.785C-107.601 424.598 -137.447 488.122 -132.561 509.786L486.131 370.245L417.06 64C242.517 103.367 193.631 86.3021 102.113 72.6314C10.5939 58.9607 -30.441 63.921 -60.8742 83.3622C-109.543 114.453 -137.093 166.81 -117.762 335.785Z" fill="white" filter="url(#careerScoutCurveShadow)"></path>
                                </svg>
                            </div>
                            <svg width="80" height="80" viewBox="8 8 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-testid="promo-custom-image" class="mosaic-mrrr5b eu4oa1w0">
                                <g filter="url(#filter0_ddd_2728_22499)">
                                    <path d="M48 72C65.6731 72 80 57.6731 80 40C80 22.3269 65.6731 8 48 8C30.3269 8 16 22.3269 16 40C16 57.6731 30.3269 72 48 72Z" fill="url(#paint0_linear_2728_22499)"></path>
                                    <path d="M57.5393 43.3086L62.2275 52.2639C62.8883 53.526 61.526 54.8884 60.2639 54.2275L51.3086 49.5393C49.2361 48.4544 46.7641 48.4544 44.6916 49.5393L35.7363 54.2275C34.4742 54.8884 33.1119 53.526 33.7727 52.2639L38.4609 43.3086C39.5459 41.2361 39.5459 38.7642 38.4609 36.6916L33.7727 27.7363C33.1119 26.4742 34.4742 25.1119 35.7363 25.7727L44.6916 30.461C46.7641 31.5459 49.2361 31.5459 51.3086 30.461L60.2639 25.7727C61.526 25.1119 62.8883 26.4742 62.2275 27.7363L57.5393 36.6916C56.4543 38.7642 56.4543 41.2361 57.5393 43.3086Z" fill="#BFD3FF"></path>
                                    <path d="M52.9965 50.3026L49.5747 61.2435C49.0926 62.7855 46.9076 62.7855 46.4255 61.2435L43.0037 50.3026C42.2117 47.7706 40.2295 45.7884 37.6975 44.9964L26.7566 41.5746C25.2146 41.0925 25.2146 38.9075 26.7566 38.4254L37.6975 35.0036C40.2295 34.2116 42.2117 32.2294 43.0037 29.6974L46.4255 18.7565C46.9076 17.2145 49.0926 17.2145 49.5747 18.7565L52.9965 29.6974C53.7885 32.2294 55.7707 34.2116 58.3027 35.0036L69.2436 38.4254C70.7856 38.9075 70.7856 41.0925 69.2436 41.5746L58.3027 44.9964C55.7707 45.7884 53.7885 47.7706 52.9965 50.3026Z" fill="white"></path>
                                </g>
                                <defs>
                                    <filter id="filter0_ddd_2728_22499" x="0" y="0" width="96" height="96" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                        <feOffset dy="8"></feOffset>
                                        <feGaussianBlur stdDeviation="8"></feGaussianBlur>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0.04 0"></feColorMatrix>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2728_22499"></feBlend>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                        <feOffset dy="4"></feOffset>
                                        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0.08 0"></feColorMatrix>
                                        <feBlend mode="normal" in2="effect1_dropShadow_2728_22499" result="effect2_dropShadow_2728_22499"></feBlend>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                        <feOffset></feOffset>
                                        <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 0.16 0"></feColorMatrix>
                                        <feBlend mode="normal" in2="effect2_dropShadow_2728_22499" result="effect3_dropShadow_2728_22499"></feBlend>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_2728_22499" result="shape"></feBlend>
                                    </filter>
                                    <linearGradient id="paint0_linear_2728_22499" x1="16" y1="8" x2="80" y2="72" gradientUnits="userSpaceOnUse">
                                        <stop offset="0.25" stop-color="#003A9B"></stop>
                                        <stop offset="0.75" stop-color="#358271"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div [hidden]="true" class="mosaic-ww9gmg">
                            <a href="https://www.indeed.com/careerscout?from=jobseeker_marketing&amp;sid=career_scout_us_career_guide_desktop_promo" aria-label="Learn more about Indeed Career Scout" class="btn btn-primary w-100">Learn more</a>
                            <span class="font-lighter form-text">Source: Indeed test data, US, May 2025, based on the average hires per apply</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <div class="bg-dark text-light text-center py-5 dropback-bg-1">
                <h1 class="display-4 fw-bold">Industries We Serve</h1>
                <p class="lead">Discover the industries we serve with our custom software development services.</p>
            </div>
        </div>
    </div>
    <div class="row p-4">
        @for (industry of industries; track industry.name) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <a class="btn btn-outline-secondary btn-lg w-100 text-center wow fadeInUp" routerLink="industry.link">
                <!-- <img src="{{industry.logo}}" alt="{{industry.industry}} logo" class="mb-2" style="max-width: 50px; max-height: 50px;"> -->
                <svg class="bi ms-2" width="50" height="50" aria-hidden="true">
                    <use [attr.xlink:href]="industry.icon"></use>
                </svg>
                <span class="vstack fw-400">
                    <span>{{industry.industry}}</span>
                </span>
            </a>
        </div> } @empty {
        <li>There are no items.</li>}
    </div>
</div>