@if (section === SectionType.TechnologiesSM) {
<section class="text-center">
    <img alt="Azure" srcset="assets/image/technologies/azure.png 1x, assets/image/technologies/azure.png 2x" src="assets/image/technologies/azure.png" decoding="async" data-nimg="intrinsic">
    <img alt="Microsoft" srcset="assets/image/technologies/microsoft.png 1x, assets/image/technologies/microsoft.png 2x" src="assets/image/technologies/microsoft.png" decoding="async" data-nimg="intrinsic">
    <img alt=".NET" srcset="assets/image/technologies/dotnet.png 1x, assets/image/technologies/dotnet.png 2x" src="assets/image/technologies/dotnet.png" decoding="async" data-nimg="intrinsic">
    <img alt="C#" srcset="assets/image/technologies/csharp.png 1x, assets/image/technologies/csharp.png 2x" src="assets/image/technologies/csharp.png" decoding="async" data-nimg="intrinsic">
    <img alt="SQL Sever" srcset="assets/image/technologies/sql-server.png 1x, assets/image/technologies/sql-server.png 2x" src="assets/image/technologies/sql-server.png" decoding="async" data-nimg="intrinsic">
    <img alt="PostgreSQL" srcset="assets/image/technologies/postgresql.png 1x, assets/image/technologies/postgresql.png 2x" src="assets/image/technologies/postgresql.png" decoding="async" data-nimg="intrinsic">
</section>
}
@if (section === SectionType.TechnologiesMD) {
<section class="text-center">
    <img alt="Azure" srcset="assets/image/technologies/azure.png 1x" src="assets/image/technologies/azure.png" decoding="async" data-nimg="intrinsic">
    <img alt="Microsoft" srcset="assets/image/technologies/microsoft.png 1x" src="assets/image/technologies/microsoft.png" decoding="async" data-nimg="intrinsic">
    <img alt=".NET" srcset="assets/image/technologies/dotnet.png 1x" src="assets/image/technologies/dotnet.png" decoding="async" data-nimg="intrinsic">
    <img alt="C#" srcset="assets/image/technologies/csharp.png 1x" src="assets/image/technologies/csharp.png" decoding="async" data-nimg="intrinsic">
    <img alt="SQL Sever" srcset="assets/image/technologies/sql-server.png 1x" src="assets/image/technologies/sql-server.png" decoding="async" data-nimg="intrinsic">
    <img alt="PostgreSQL" srcset="assets/image/technologies/postgresql.png 1x" src="assets/image/technologies/postgresql.png" decoding="async" data-nimg="intrinsic">
</section>
}

@if (section === SectionType.Technologies) {
<div class="container text-center py-md-3">
    <div class="row py-3">
        <div class="col">
            <img alt="Azure" class="img-thumbnail" srcset="assets/image/technologies/azure.png 1x, assets/image/technologies/azure.png 2x" src="assets/image/technologies/azure.png" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="Microsoft" class="img-thumbnail" srcset="assets/image/technologies/microsoft.png 1x, assets/image/technologies/microsoft.png 2x" src="assets/image/technologies/microsoft.png" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt=".NET" class="img-thumbnail" srcset="assets/image/technologies/dotnet.png 1x, assets/image/technologies/dotnet.png 2x" src="assets/image/technologies/dotnet.png" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="C#" class="img-thumbnail" srcset="assets/image/technologies/csharp.png 1x, assets/image/technologies/csharp.png 2x" src="assets/image/technologies/csharp.png" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="SQL Server" class="img-thumbnail" srcset="assets/image/technologies/sql-server.png 1x, assets/image/technologies/sql-server.png 2x" src="assets/image/technologies/sql-server.png" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="PostgreSQL" class="img-thumbnail" srcset="assets/image/technologies/postgresql.png 1x, assets/image/technologies/postgresql.png 2x" src="assets/image/technologies/postgresql.png" decoding="async" data-nimg="intrinsic">
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <img alt="MongoDB" class="img-thumbnail" srcset="assets/image/technologies/mongodb.svg 1x, assets/image/technologies/mongodb.svg 2x" src="assets/image/technologies/mongodb.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="nodejs" class="img-thumbnail" srcset="assets/image/technologies/node-js.svg 1x, assets/image/technologies/node-js.svg 2x" src="assets/image/technologies/node-js.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="github" class="img-thumbnail" srcset="assets/image/technologies/github.svg 1x, assets/image/technologies/github.svg 2x" src="assets/image/technologies/github.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="TFVS" class="img-thumbnail" srcset="assets/image/technologies/TFVS.svg 1x, assets/image/technologies/TFVS.svg 2x" src="assets/image/technologies/TFVS.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="js" class="img-thumbnail" srcset="assets/image/technologies/JS.svg 1x, assets/image/technologies/JS.svg 2x" src="assets/image/technologies/js.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="TypeScript" class="img-thumbnail" srcset="assets/image/technologies/TypeScript.svg 1x, assets/image/technologies/TypeScript.svg 2x" src="assets/image/technologies/TypeScript.svg" decoding="async" data-nimg="intrinsic">
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <img alt="Angular" class="img-thumbnail" srcset="assets/image/technologies/Angular.webp 1x, assets/image/technologies/Angular.webp 2x" src="assets/image/technologies/Angular.webp" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="AWS" class="img-thumbnail" srcset="assets/image/technologies/AWS.svg 1x, assets/image/technologies/AWS.svg 2x" src="assets/image/technologies/aws.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="Bitbucket" class="img-thumbnail" srcset="assets/image/technologies/bitbucket.svg 1x, assets/image/technologies/bitbucket.svg 2x" src="assets/image/technologies/bitbucket.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="jira" class="img-thumbnail" srcset="assets/image/technologies/jira.svg 1x, assets/image/technologies/jira.svg 2x" src="assets/image/technologies/jira.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="Python" class="img-thumbnail" srcset="assets/image/technologies/Python.svg 1x, assets/image/technologies/Python.svg 2x" src="assets/image/technologies/Python.svg" decoding="async" data-nimg="intrinsic">
        </div>
        <div class="col">
            <img alt="Azure" class="img-thumbnail" srcset="assets/image/technologies/Azure.svg 1x, assets/image/technologies/Azure.svg 2x" src="assets/image/technologies/Azure.svg" decoding="async" data-nimg="intrinsic">
        </div>
    </div>
</div>
}