<main class="main">
    <div class="container-fluid">
        <!-- hero banner-->
        <div class="row">
            <div class="p-4 text-center bg-body-tertiary rounded-3">
                <div class="wow fadeInLeft" data-wow-duration="1s">
                    <img class="d-block mx-auto mb-4 rounded-circle img-thumbnail" [attr.src]="cv.basics.picture" [attr.alt]="cv.basics.displayName">
                    <div class="display-6 text-body-emphasis">{{cv.basics.displayName}}</div>
                    <p class="col-lg-8 mx-auto fs-5 text-muted"></p>
                    <h3 class="fs-3 text-muted">{{cv.basics.headline}}</h3>
                    <p class="fs-4 text-muted">{{cv.basics.summary}}</p>
                    <p class="col-lg-8 mx-auto fs-5 text-muted">{{cv.basics.about[0]}}</p>
                </div>
                <div class="d-inline-flex gap-2 my-3 wow fadeInUp" data-wow-duration="2s">
                    <a [hidden]="true" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" [attr.href]="linkedIn" target="_blank">
                        <span>Get in touch</span>
                        <svg class="bi ms-2" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#arrow-right-short"></use>
                        </svg>
                    </a>
                    @if(cv.basics.profiles.length > 0) {
                    <a class="d-inline-flex align-items-center btn btn-outline-secondary btn-lg px-4 rounded-pill" [attr.href]="cv.basics.profiles[0].url" target="_blank">
                        <span>Get in touch</span>
                        <svg class="bi ms-2" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#likedin"></use>
                        </svg>
                    </a>
                    }
                    <button [hidden]="true" class="btn btn-outline-secondary btn-lg px-4 rounded-pill glow-button" type="button">
                        Secondary link
                    </button>
                </div>
            </div>
        </div>
        <div class="row p-4 p-md-5 mb-4 text-body-emphasis bg-body-secondary rounded-3">
            <div class="col-lg-12">
                <h1 class="display-4 fw-bold text-muted text-center text-uppercase">Full Stack Development</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Nav Tabs -->
            <ul class="nav nav-pills nav-tabs-scrollable nav-fill fs-3 fw-bold mb-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="frontend-tab" data-bs-toggle="tab" data-bs-target="#frontend" type="button" role="tab">Frontend</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="backend-tab" data-bs-toggle="tab" data-bs-target="#backend" type="button" role="tab">Backend</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="database-tab" data-bs-toggle="tab" data-bs-target="#database" type="button" role="tab">Database</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="languages-tab" data-bs-toggle="tab" data-bs-target="#languages" type="button" role="tab">Languages</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="devops-tab" data-bs-toggle="tab" data-bs-target="#devops" type="button" role="tab">DevOps</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mobile-tab" data-bs-toggle="tab" data-bs-target="#mobile" type="button" role="tab">Mobile</button>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="frontend" role="tabpanel" aria-labelledby="frontend-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
                <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="backend-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
                <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
                <div class="tab-pane fade" id="languages" role="tabpanel" aria-labelledby="languages-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
                <div class="tab-pane fade" id="devops" role="tabpanel" aria-labelledby="devops-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
                <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">
                    <app-section [section]="SectionType.Technologies"></app-section>
                </div>
            </div>
        </div>
    </div>
</main>


<div [hidden]="true" class="box">
    <span>Card title</span>
    <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
</div>
<p></p>
<app-industries></app-industries>