// Custom.scss
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:root {
    --nav-color: #1e2653;
    --ticker-bg: #1e2653;
    --hero-bg: url('./assets/image/hero-banner-1.webp');
}


.custom-title {
    @include font-size(3rem);
    font-weight: 700;

    .custom-title-italic {
        font-style: italic;
    }
}

.navbar-brand {
    @include font-size(1.75rem);
    font-weight: 700;
    color: var(--ticker-bg);
}