.login-container {
  //max-width: 420px;
  margin: 1rem auto;
  padding: 1.75rem;
  background: #ffffff05;
  //border-radius: 8px;
}

.login-container h2 {
  font-weight: 600;
}

@mixin href-styles-none($text-color: #007bff) {
  //display: inline-block;
  text-decoration: none;
  //padding: 5px 10px;
  color: $text-color
}

a {
  @include href-styles-none(var(--navbar-background-blue));

  &:hover {
    text-decoration: underline;
  }
}

.loginWith:before,
.loginWith:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #9a9a9a;
}

.loginWith {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px
}

.loginWith:before,
.loginWith:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #E3E3E3
}

.loginWith:not(:empty):before {
  margin-right: .75em
}

.loginWith:not(:empty):after {
  margin-left: .75em
}

.brand-logo {
  width: 92px;
  height: 35px;
}


.form-control.show-password, .show-password {
  border-color: yellow;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-eye%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M16%208s-3-5.5-8-5.5S0%208%200%208s3%205.5%208%205.5S16%208%2016%208M1.173%208a13%2013%200%200%201%201.66-2.043C4.12%204.668%205.88%203.5%208%203.5s3.879%201.168%205.168%202.457A13%2013%200%200%201%2014.828%208q-.086.13-.195.288c-.335.48-.83%201.12-1.465%201.755C11.879%2011.332%2010.119%2012.5%208%2012.5s-3.879-1.168-5.168-2.457A13%2013%200%200%201%201.172%208z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M8%205.5a2.5%202.5%200%201%200%200%205%202.5%202.5%200%200%200%200-5M4.5%208a3.5%203.5%200%201%201%207%200%203.5%203.5%200%200%201-7%200%22%2F%3E%0A%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.hide-password {
  border-color: green;
  padding-right: calc(1.5em + 0.75rem);
  //content: "test";
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-eye-slash%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M13.359%2011.238C15.06%209.72%2016%208%2016%208s-3-5.5-8-5.5a7%207%200%200%200-2.79.588l.77.771A6%206%200%200%201%208%203.5c2.12%200%203.879%201.168%205.168%202.457A13%2013%200%200%201%2014.828%208q-.086.13-.195.288c-.335.48-.83%201.12-1.465%201.755q-.247.248-.517.486z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M11.297%209.176a3.5%203.5%200%200%200-4.474-4.474l.823.823a2.5%202.5%200%200%201%202.829%202.829zm-2.943%201.299.822.822a3.5%203.5%200%200%201-4.474-4.474l.823.823a2.5%202.5%200%200%200%202.829%202.829%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M3.35%205.47q-.27.24-.518.487A13%2013%200%200%200%201.172%208l.195.288c.335.48.83%201.12%201.465%201.755C4.121%2011.332%205.881%2012.5%208%2012.5c.716%200%201.39-.133%202.02-.36l.77.772A7%207%200%200%201%208%2013.5C3%2013.5%200%208%200%208s.939-1.721%202.641-3.238l.708.709zm10.296%208.884-12-12%20.708-.708%2012%2012z%22%2F%3E%0A%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-group > .invalid-feedback {
  display: block;
}