<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5 text-center main-banner-text">
        <h1 class="display-5 fw-bold text-uppercase" data-wow-duration="2s">Empowering Businesses</h1>
        <h1 class="display-5 fw-bold text-uppercase text-gradient">through Innovation and Expertise</h1>
        <p class="col-md-12 fs-4">We are a forward-thinking team dedicated to transforming businesses through innovative technology solutions. With years of experience and a passion for digital excellence, we specialize in delivering custom software and IT solutions that drive growth and efficiency.</p>
        <a class="btn btn-primary btn-lg btn-gradient mt-4" [attr.href]="linkedIn" target="_blank">Let’s Book Free Consultation</a>
    </div>